<!DOCTYPE html>
<html lang="fr" layout:decorate="~{layout.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prêt</title>
    <link href="/webjars/bootstrap-table/1.15.5/bootstrap-table.css" rel="stylesheet">
</head>
<body>
<main class="container-fluid w-75" layout:fragment="content">
    <div class="h2 mt-5 border-bottom">Prêt en cours</div>
    <table data-classes="table table-striped table-hover" data-locale="fr-FR" data-search="true"
           data-sort-name="dueDate" data-sort-order="desc" data-toggle="table">
        <thead>
        <tr>
            <th data-align="center" data-halign="center" data-sortable="true">Titre</th>
            <th data-align="center" data-halign="center" data-sortable="true">Auteur</th>
            <th data-align="center" data-halign="center" data-sortable="true">Bibliothèque</th>
            <th data-align="center" data-halign="center" data-sortable="true">Date d'emprunt</th>
            <th data-align="center" data-field="dueDate" data-halign="center" data-sortable="true">Date de retour</th>
            <th data-align="center" data-halign="center">Prolonger</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loan : ${loans}">
            <td th:utext="*{loan.title}"></td>
            <td th:utext="*{loan.author}"></td>
            <td th:utext="*{loan.library}"></td>
            <td th:text="*{loan.loanDate}"></td>
            <td th:utext="*{loan.dueDate}"></td>
            <td><a class="btn btn-dark rounded" role="button" th:href="@{'/loan/' + ${loan.loanId} + '/extend'}"
                   th:if="*{!loan.getExtendedLoan()}">Prolonger</a>
                <a class="btn btn-dark rounded" role="button" th:href="@{'/loan/' + ${loan.loanId} + '/return'}">Retour</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="h2 mt-5 border-bottom">Réservation</div>
    <div class="h4 text-danger my-3" th:if="${error != null}" th:utext="${error}"></div>
    <form method="post" th:action="@{/loansad}">
        <label for="idCopy">Id de l'exemplaire</label>
        <input id="idCopy" name="idCopy" required type="text">
        <button class="btn-dark rounded" type="submit">Reserver</button>
    </form>
</main>
</body>
